%h3 My Watch List
.row
  .col-md-8
    %section.content-wrapper
      .widget-box.sidebar
        -#%h3.wdgt-title PRODUCT LIST
        %ul.wdgt-product
          - @watchlist.furnitures.each do |furniture|
            = render 'furniture_brief', furniture: furniture
      = link_to 'Edit', '/watchlists/my_watch_list/edit'
      \|
      = link_to 'Back', furnitures_path
