.people-block
  %figure
    %img{:alt => "", :src => "images/about-1.jpg"}
  .people-desc
    %span.people-name furniture.title
    %span.people-job furniture.price
    %p furniture.description
    %ul.inline
      %li
        %a.iconize.round{:href => "javascript:;"}
          %i.fa.fa-facebook
      %li
        %a.iconize.round{:href => "javascript:;"}
          %i.fa.fa-twitter
      %li
        %a.iconize.round{:href => "javascript:;"}
          %i.fa.fa-dribbble
      %li
        %a.iconize.round{:href => "javascript:;"}
          %i.fa.fa-github
      %li
        %a.iconize.round{:href => "javascript:;"}
          %i.fa.fa-google-plus