%section.content-wrapper
  .container
    .row
      .col-md-12
        .content-box
          %h3 User Information
          %p
            %strong Morbi fringilla dui non purus porttitor mattis suspendisse quis vulputate risus.
          %p Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue, et mollis nunc diam eget sapien. Nulla facilisi. Etiam feugiat. Phasellus id tristique orci. Proin consequat mi at felis scelerisque ullamcorper. Etiam tempus, felis vel eleifend porta, velit nunc mattis urna, at ullamcorper erat diam dignissim ante
    .row
      .col-md-12
        .content-box
          %h3 You have post ...
          -#%p
          -#  Phasellus quis lectus metus, at posuere neque.
          -#  = succeed "." do
          -#    %strong Sed pharetra nibh eget orci convallis at posuere leo convallis
          -#  Sed blandit augue vitae augue scelerisque bibendum.
          .row
            .col-md-12
              .slide-about-people
                = render partial: "furniturelist", collection: @furnitures
                .people-block
                  %figure
                    %img{:alt => "", :src => "images/about-1.jpg"}
                  .people-desc
                    %span.people-name John Doe
                    %span.people-job CEO/Director
                    %p Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit
                    %ul.inline
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-facebook
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-twitter
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-dribbble
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-github
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-google-plus
                / /.people
                .people-block
                  %figure
                    %img{:alt => "", :src => "images/about-1.jpg"}
                  .people-desc
                    %span.people-name John Doe
                    %span.people-job CEO/Director
                    %p Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit
                    %ul.inline
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-facebook
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-twitter
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-dribbble
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-github
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-google-plus
                / /.people
                .people-block
                  %figure
                    %img{:alt => "", :src => "images/about-1.jpg"}
                  .people-desc
                    %span.people-name John Doe
                    %span.people-job CEO/Director
                    %p Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit
                    %ul.inline
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-facebook
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-twitter
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-dribbble
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-github
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-google-plus
                / /.people
                .people-block
                  %figure
                    %img{:alt => "", :src => "images/about-1.jpg"}
                  .people-desc
                    %span.people-name John Doe
                    %span.people-job CEO/Director
                    %p Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit
                    %ul.inline
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-facebook
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-twitter
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-dribbble
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-github
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-google-plus
                / /.people
                .people-block
                  %figure
                    %img{:alt => "", :src => "images/about-1.jpg"}
                  .people-desc
                    %span.people-name John Doe
                    %span.people-job CEO/Director
                    %p Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit
                    %ul.inline
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-facebook
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-twitter
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-dribbble
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-github
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-google-plus
                / /.people
                .people-block
                  %figure
                    %img{:alt => "", :src => "images/about-1.jpg"}
                  .people-desc
                    %span.people-name John Doe
                    %span.people-job CEO/Director
                    %p Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit
                    %ul.inline
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-facebook
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-twitter
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-dribbble
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-github
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-google-plus
                / /.people
                .people-block
                  %figure
                    %img{:alt => "", :src => "images/about-1.jpg"}
                  .people-desc
                    %span.people-name John Doe
                    %span.people-job CEO/Director
                    %p Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit
                    %ul.inline
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-facebook
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-twitter
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-dribbble
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-github
                      %li
                        %a.iconize.round{:href => "javascript:;"}
                          %i.fa.fa-google-plus
                / /.people
                .owl-controls.clickable
                  .owl-buttons
                    .owl-prev prev
                    .owl-next next
    / /.row
    .row
      .col-md-6
        .content-box
          / Nav tabs
          %h3 High Quality Products
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#home"} Process
            %li
              %a{"data-toggle" => "tab", :href => "#profile"} Prepare
            %li
              %a{"data-toggle" => "tab", :href => "#messages"} Display
            %li
              %a{"data-toggle" => "tab", :href => "#settings"} Packaging
          / Tab panes
          .tab-content
            #home.tab-pane.fade.in.active
              %p Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.
              %p Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum
            #profile.tab-pane.fade
              %p
                Facilisi. Etiam enim metus, luctus in adipiscing at, consectetur quis sapien. Duis imperdiet egestas ligula, quis hendrerit ipsum ullamcorper et. Phasellus id tristique orci. Proin consequat mi at felis scelerisque ullamcorper. Etiam tempus
              %p Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum
            #messages.tab-pane.fade
              %p Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum
              %p
                Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.
            #settings.tab-pane.fade
              %p
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin ante enim, tincidunt ut interdum in, adipiscing quis tortor. Nulla turpis lacus, rutrum in adipiscing ut, porttitor ac ante. Sed euismod, mauris a.
              %p Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum
          / END TAB
      .col-md-6
        .content-box
          %h3 Quality Level
          %p Sed blandit augue vitae augue scelerisque bibendum.
          .skill-bar
            %ul
              %li
                .bar{:style => "width:100%;"}
                  %h5 Branding
                %span 10 / 10
              %li
                .bar{:style => "width:85%;"}
                  %h5 Elegant
                %span 8.5 / 10
              %li
                .bar{:style => "width:92%;"}
                  %h5 Quality
                %span 9.2 / 10
              %li
                .bar{:style => "width:81%;"}
                  %h5 Creative
                %span 8.1 / 10
/ END ABOUT CONTENT
/ BEGIN BRAND
.brand
  .container
    .row
      .col-md-12
        .box-title
          %h2 OUR BRAND
    .row
      .col-md-12
        %ul.brands
          %li
            %img{:alt => "", :src => "images/clien-1.png"}
          %li
            %img{:alt => "", :src => "images/clien-2.png"}
          %li
            %img{:alt => "", :src => "images/clien-3.png"}
          %li
            %img{:alt => "", :src => "images/clien-4.png"}
/ END BRAND
%footer
  / WIDGET ABOUT
  .container
    .row
      .col-md-12
        .wdgt-about
          .row
            .col-md-3
              %img.logo-bottom{:alt => "", :src => "images/logo-black.png"}
            .col-md-5
              %h3.wdgt-title ABOUT US
              %p Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.
              %a.iconize{:href => "javascript:;"}
                %i.fa.fa-facebook
              %a.iconize{:href => "javascript:;"}
                %i.fa.fa-twitter
              %a.iconize{:href => "javascript:;"}
                %i.fa.fa-google-plus
              %a.iconize{:href => "javascript:;"}
                %i.fa.fa-rss
            .col-md-4
              %h3.wdgt-title EMAIL SUBSCRIBE
              %p Sed blandit augue vitae augue scelerisque bibendum vivamus sit amet libero turpis.
              %form
                %input.input-black{:name => "newsletter", :type => "text"}
                  %input.btn-black{:name => "submit", :type => "submit"}
  / END WIDGET ABOUT
  / BEGIN WIDGET BOTTOM
  .container
    .row
      .col-md-12
        %section.wdgt-bottom
          .row
            .col-md-3.col-sm-6
              .widget-box
                %h3.wdgt-title OPEN HOURS
                %ul.openhour
                  %li.openday Monday
                  %li.opentime 12.00 AM &mdash; 10.12 PM
                  %li.openday Tuesday
                  %li.opentime 07.00 AM &mdash; 10.20 AM
                  %li.opentime REST
                  %li.opentime 02.00 PM &mdash; 09.31 PM
                  %li.openday Sunday
                  %li.opentime 07.00 AM &mdash; 11.00 PM
            .col-md-3.col-sm-6
              .widget-box
                %h3.wdgt-title SHOP BY BRANDS
                %ul.wdgt-ul
                  %li
                    %a{:href => "javascript:;"} Maroon Sky
                  %li
                    %a{:href => "javascript:;"} Charlizseky
                  %li
                    %a{:href => "javascript:;"} Alamanda Series
                  %li
                    %a{:href => "javascript:;"} HUGO BOSS
                  %li
                    %a{:href => "javascript:;"} Preminioz
                  %li
                    %a{:href => "javascript:;"} Avalantzche
            .col-md-3.col-sm-6
              .widget-box
                %h3.wdgt-title MY ACCOUNT
                %ul.wdgt-ul
                  %li
                    %a{:href => "javascript:;"} My Account
                  %li
                    %a{:href => "javascript:;"} Shopping Cart
                  %li
                    %a{:href => "javascript:;"} Privacy Policies
                  %li
                    %a{:href => "javascript:;"} Referral
            .col-md-3.col-sm-6
              .widget-box
                %h3.wdgt-title CONTACT
                %p.wdgt-address
                  %strong Housing Store
                  901 Cherry Ave, San Bruno, CA 94066, United States
                %p.wdgt-address
                  %strong Office
                  1600 Amphitheatre Pkwy, Mountain View, CA 94043, United States
  .container
    .row
      .col-md-12
        .shop-info
          %p Tumbas Business Multipurpose Template
          %p
            Powered by
            %a{:href => "javascript:;"} Bootstrap
  / END WIDGET BOTTOM
/ END FOOTER