%section.content-wrapper
  .container
    .row
      .col-md-12
        .content-box
          %h3= @user.email
          -#%p
            -#%strong @user.description
          -#%p=
            -#%strong== Contact: #{@user.description}
          -#%p=
            -#%strong== Address: #{@user.address}
    .row
      .col-md-12
        .content-box
          %h3 WHAT HE/SHE SELLS
          %p
            Phasellus quis lectus metus, at posuere neque.
          .row
            .col-md-12
              .slide-about-people
                -1.upto(5) do
                  .people-block
                    %figure
                      = image_tag 'about-1.jpg', size: '300x250'
                    .people-desc
                      %span.people-name John Doe
                      %span.people-job CEO/Director
                      %p Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit
                      %span.label.label-info
                        bed123
                      %span.label.label-success
                        2012/12/12
                      -#%ul.inline
                      -#  %li
                      -#    %a.iconize.round{:href => "javascript:;"}
                      -#      %i.fa.fa-facebook
                      -#  %li
                      -#    %a.iconize.round{:href => "javascript:;"}
                      -#      %i.fa.fa-twitter
                      -#  %li
                      -#    %a.iconize.round{:href => "javascript:;"}
                      -#      %i.fa.fa-dribbble
                      -#  %li
                      -#    %a.iconize.round{:href => "javascript:;"}
                      -#      %i.fa.fa-github
                      -#  %li
                      -#    %a.iconize.round{:href => "javascript:;"}
                      -#      %i.fa.fa-google-plus
                -#-@furnitures.each do |furniture|
                -#  .people-block
                -#    %figure
                -#      = image_tag 'about-1.jpg', size: '300x250'
                -#    .people-desc
                -#      %span.people-name furniture.title
                -#      %span.people-job furniture.price
                -#      %span.label.label-info furniture.tag
                -#      %span.label.success furniture.created_at
                -#      %ul.inline
                -#        %li
                -#          %a.iconize.round{:href => "javascript:;"}
                -#            %i.fa.fa-facebook
                -#        %li
                -#          %a.iconize.round{:href => "javascript:;"}
                -#            %i.fa.fa-twitter
                -#        %li
                -#          %a.iconize.round{:href => "javascript:;"}
                -#            %i.fa.fa-dribbble
                -#        %li
                -#          %a.iconize.round{:href => "javascript:;"}
                -#            %i.fa.fa-github
                -#        %li
                -#          %a.iconize.round{:href => "javascript:;"}
                -#            %i.fa.fa-google-plus