// Place all the styles related to the Furnitures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
  height: 500px;
//  margin: 100px;
  padding: 10px
}

#map-location {
  height: 430px;
  padding: 20px
}

.scroll-view {
  height:590px;
  overflow: auto;
  overflow-y: auto;
}


