%hr
.row
  .col-md-12
    .col-md-8
      .row
        .product-order
          .col-md-4
          .col-md-4
            .select-wrapper
              %form{:action => "search"}
                %select.country-id{:name => "price"}
                  %option{:value => "5"}$0 - $5
                  %option{:value => "10"}$5 - $10
                  %option{:value => "25"}$10 - $25
                  %option{:value => "50"}$25 - $50
                  %option{:value => "100"}$50 - $100
                  %option{:value => "200"}$100 - $200
                  %option{:value => "500"}$200 - $500
                  %option{:value => "1000"}$500 - $1000
                  %option{:value => "1000000"}More than $1000
                %select.country_id{:name => "miles"}
                  %option{:value => 1}Within 1 mile
                  %option{:value => 5}1 - 5 miles
                  %option{:value => 10}5 - 10 miles
                  %option{:value => 30}10 - 30 miles
                  %option{:value => 10000}More than 30 miles
                %select.country_id{:name => "tag"}
                  %option{:value => "chair"} Chair
                  %option{:value => "table"} Table
                  %option{:value => "bed"} Bed
                  %option{:value => "sofa"} Sofa
                  %option{:value => "other"} Others
                %input.input-black{:type => "text", :name => "address"}
                %input.btn-sm{:type => "submit", :value => "Search"}
      #map-canvas}
    .col-md-4.scroll-view
      %section.content-wrapper
        .widget-box.sidebar
          %h3.wdgt-title PRODUCT LIST
          %ul.wdgt-product
            -@furnitures.each do |furniture|
              = render 'furniture_brief', furniture: furniture, currentLocation: @currentLocation
%br


-#= content_tag :div, class: "furnitures_class", data: {current: @currentLocation} do end
= content_tag :div, class: "furnitures_class", data: {furnitures: @furnitures, current: @currentLocation, miles: @miles} do end


:javascript
  $(document).ready(function() {
    var currentLocation = $('.furnitures_class').data('current');
    var miles = $('.furnitures_class').data('miles');
    var mapOptions = {
      zoom: RadiusToZoom(miles),
      center: new google.maps.LatLng(currentLocation[0], currentLocation[1])
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    var furnitures = $('.furnitures_class').data('furnitures');
    function initialize() {
        var here = new google.maps.Marker({
            position: new google.maps.LatLng(currentLocation[0], currentLocation[1]),
            map: map,
            icon: 'http://library.csun.edu/images/google_maps/marker-blue.png'
        })

        var i;
        for (i = 0; i < furnitures.length; i++) {
            var latlng = new google.maps.LatLng(furnitures[i].latitude, furnitures[i].longitude);
            var title = furnitures[i].title;

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(furnitures[i].latitude, furnitures[i].longitude),
                map: map,
                title: title
            });
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function(){
                    var distance = 3;
                    var pic;
                    if(furnitures[i].picture1 == null) {
                    	pic = "/assets/aeroplane.png";
                    } else {
                    	pic = furnitures[i].picture1;
                    }
                    var description = "<a href='" + "/furnitures/" + furnitures[i].id + "'><h3><strong>"+
                                       furnitures[i].title+"</strong></h3></a>"+
                                       "<div class='col-md-8'><p>Price: \$"+furnitures[i].price + "</p><p>post on "+furnitures[i].created_at.substr(0, 10)+"</p>"+
                                       "<p>description: "+furnitures[i].description+"</p></div><div class='col-md-4'>" +
                                       "<img alt='Picture1' height='45' src='" + pic + "' width='45' />" + "</div>";
                    new google.maps.InfoWindow({
                        content: description
                    }).open(map, marker);
                }
            })(marker, i));
        }
    }
    function RadiusToZoom(radius){
        return Math.round(14-Math.log(radius)/Math.LN2);
    }


    google.maps.event.addDomListener(window, 'load', initialize);
  });
