%section.content-wrapper
  .container
    .row
      .col-md-12
        .content-box
          %h3.text-center NEW POST
          = render 'form'
-#= link_to 'Show', @furniture
-#= link_to 'Back', furnitures_path
