/ CONTACT CONTENT
%br
%br
.outter
  %section.content-wrapper
    .container
      %section.content-wrapper
        .container
          .row
            .col-md-12
              .content-box
                %h3 Add a new furniture
                = render 'form'
      / END CONTACT CONTENT
